@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

div {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav {
    display: flex;
    justify-content: space-around;
}
h1, h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: rgb(211, 239, 159);
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #fcfbfc;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(205, 235, 153);
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: rgb(115, 160, 86);
    color: black;
}
.book, .join {
    background-color: rgb(211, 240, 178);
    color: black;
    text-decoration: none;
    font-size: 18;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: rgb(115, 160, 86);
    color: black;
}
.msg {
    background-color: rgb(216, 232, 176);
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px rgb(216, 232, 176);
}
footer {
    background-color: rgb(135, 135, 141);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
footer a {
    color: #000;
    text-decoration: none;
}
footer:hover {
    color: aliceblue;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
h4 {
    color: #000;
}
.home-title {
    color: darkslategrey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2 {
    color: rgb(25, 25, 25);
    font-family: 'Times New Roman', Times, serif;
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border-radius: 10ps solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px rgb(216, 232, 176);
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
#home-grid {
    display: grid;
    grid-template-columns: 10fr;
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px rgb(216, 232, 176);
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}