header {
    background-color: #f2f2f2;
    padding: 10px;
}
nav {
    text-align: center;
}
nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: large;
}
nav a:hover {
    text-decoration: underline;
}
#hero {
    background-color: #f5f5f5;
    padding: 30px;
    text-align: center;
}
#hero-img {
    width: 90%;
    height: auto;
}
h3 {
    margin-bottom: 10px;
    color: #333;
    font-family: playfair display;
}
.logo {
    width: 50px;
    height: auto;
}
#logo_link {
    display: inline-block;
    margin-right: 20px;
}
main {
    margin-top: 20px;
}
p {
    font-family: serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SOCIAL {
    text-align: right;
}
.SOCIAL img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.flyer-card, .flower-card {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}
.card-img {
    width: 100%;
    height: auto;
}
footer p:first-child {
    text-align: left;
}
footer p:last-child {
    text-align: center;
}
footer p {
    margin: 0;

}
footer p a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
footer p a:hover {
    text-decoration: underline;
}
